/* ========== Helvetica Now Display ========== */

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/helvetica-now-display/HelveticaNowDisplay-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/helvetica-now-display/HelveticaNowDisplay-ThinIta.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/helvetica-now-display/HelveticaNowDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/helvetica-now-display/HelveticaNowDisplay-LightIta.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/helvetica-now-display/HelveticaNowDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/helvetica-now-display/HelveticaNowDisplay-RegIta.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/helvetica-now-display/HelveticaNowDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/helvetica-now-display/HelveticaNowDisplay-MedIta.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/helvetica-now-display/HelveticaNowDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/helvetica-now-display/HelveticaNowDisplay-BoldIta.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/helvetica-now-display/HelveticaNowDisplay-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/helvetica-now-display/HelveticaNowDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/helvetica-now-display/HelveticaNowDisplay-BlackIta.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
