@font-face {
    font-family: 'Nike Futura ND';
    src: url('/fonts/helvetica-now-display/NikeFuturaND-CnXBold.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/NikeFuturaND-CnXBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-BlackIta.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-BlackIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-Black.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay Hairline';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-HairlineI.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-HairlineI.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-BoldIta.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-BoldIta.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-MedIta.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-MedIta.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay Hairline';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-Hairline.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-Hairline.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay ExtraBlack';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-ExtBlk.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-ExtBlk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay ExtraBlack';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-ExtBlkIta.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-ExtBlkIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-Medium.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-ExtraBold.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-ExtLtIta.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-ExtLtIta.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-ExtLt.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-ExtLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-Light.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-RegIta.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-RegIta.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-ExtBdIta.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-ExtBdIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-LightIta.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-LightIta.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-Thin.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('/fonts/helvetica-now-display/HelveticaNowDisplay-ThinIta.woff2') format('woff2'),
        url('/fonts/helvetica-now-display/HelveticaNowDisplay-ThinIta.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

