@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-Light.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-Black.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-Bold.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-ExtraBold.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-ExtraLight.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-ExtLtIta.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-ExtLtIta.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-ExtBdIta.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-ExtBdIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-BoldItalic.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-BlackItalic.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-ThinItalic.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-MediumItalic.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-Regular.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-Thin.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-Medium.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-LightItalic.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('/fonts/helvetica-now/HelveticaNowText-RegIta.woff2') format('woff2'),
        url('/fonts/helvetica-now/HelveticaNowText-RegIta.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}