
/* ========== Nike Futura ND ========== */

@font-face {
    font-family: 'Nike Futura ND';
    src: url('/fonts/nike-futura-nd/NikeFuturaND-CnXBold.woff2') format('woff2'),
        url('/fonts/nike-futura-nd/NikeFuturaND-CnXBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

