@font-face{
    font-family: "Nike Futura ND";
    src: url("a8d7b985e4eb8c5d34f2302ffe83e917.eot");
    src: url("a8d7b985e4eb8c5d34f2302ffe83e917.eot?#iefix")format("embedded-opentype"),
        url("a8d7b985e4eb8c5d34f2302ffe83e917.woff")format("woff"),
        url("a8d7b985e4eb8c5d34f2302ffe83e917.woff2")format("woff2"),
        url("a8d7b985e4eb8c5d34f2302ffe83e917.ttf")format("truetype"),
        url("a8d7b985e4eb8c5d34f2302ffe83e917.svg#Nike Futura ND")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}